

body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0;
    font-family: 'PT Sans Caption', sans-serif;
    color: #0c0c0c;
}
body input {
    outline: none;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif;
    text-indent: 6px;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    color: #000;
}
body input::-webkit-input-placeholder {
    color: #000;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 13px;
   }
body input::-moz-placeholder{
    color: #000;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 13px;
}
body input::-o-input-placeholder {
    color: #000;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 13px;
}
body input::-ms-input-placeholder {
    color: #000;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 13px;
}
body textarea::-webkit-input-placeholder {
    color: #000;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 13px;
   }
body textarea::-moz-placeholder{
    color: #000;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 13px;
}
body textarea::-o-input-placeholder {
    color: #000;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 13px;
}
body textarea::-ms-textarea-placeholder {
    color: #000;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 13px;
}
body input[type="submit"] {
    background: #F2F2F2;
    border: none;
    font-size: 11px;
    color: #c6c6c6;
    text-transform: uppercase;
    font-weight: bold;
}
button {
    background: #c8c8c8;
    border:none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-family: 'PT Sans Caption', sans-serif;
}
.btn_main {
    padding-top: 10px;
    padding-bottom: 11px;
    border:none;
    outline: none;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    background: #F0674C;
    color: white;
    font-family: 'PT Sans Caption', sans-serif;
}
body h1 {
    font-size: 24px;
}
body h2 {
    font-size: 20px;
}
body h3 {
    font-size: 18px;
}
body h4 {
    font-size: 15px;
}
body h5 {
    font-size: 14px;
}
body h6 {
    font-size: 13px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 2px solid #46cbe7;
    padding-bottom: 20px;
    margin-bottom: 20px;
    float: left;
}
body span {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 13px;
    color: #999999;
    display: block;
}
body li {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    color: #000;
}
p, a, ul, li, body input, body label {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 15px;
    color: #333333;
}
.after_filter_wrap {
    padding-top: 81px;
}
p span {
    font-weight: bold;
    color: black;
}
ul.marker {
    list-style: none;
    padding-left: 15px;
}
ul.marker li {
    position: relative;
}
ul.marker li:before {
    content: '';
    width: 6px;
    height: 6px;
    background: #ff4d2a;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    left: -15px;
}
ul.events {
    list-style: none;
}
ul.events li {
    float: left;
    width: 200px;
    margin-bottom: 30px;
    margin-right: 50px;
}
ul.events li:nth-child(4n) {
    margin-right: 0;
}
ul.events li h6 {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
ul.events li p {
    font-size: 16px;
    line-height: 30px;
    margin: 5px 0;
}
ul.events li a {
    font-size: 13px;
}
#events_border li h6 {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
#p_bg {
    background: #48A9CF;
    color: white;
    display: inline-block;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    letter-spacing: 1px;
    padding-left: 4px;
    padding-right: 5px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}
a {
    color: #007992;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.wrap {
    margin: auto;
    width: 980px;
}
.clearfix {
    clear: both;
}

/* Header
------------------------------------------------------------------------------------ */
.header_container {
    position: relative;
    height: 213px;
}
.header .logo {
    float: left;
    margin-top: 18px;
    margin-right: 35px;
}
.header h1 {
    float: left;
    font-size: 26px;
    font-weight: normal;
    width: 500px;
    margin-top: 40px;
}
.header .members_area {
    width: 210px;
    float: right;
    margin-top: 40px;
}
.header .members_area img {
    float: left;
    margin-right: 15px;
    border-radius: 30px;
}
.header .members_area h4 {
    float: left;
}
.header .authorization a {
    color: #333333;
    font-size: 12px;
    margin-right: 15px;
}
.header .call_back {
    margin-top: 15px;
}
.header .call_back a {
    font-size: 14px;
    float: left;
}

/* Navigation
------------------------------------------------------------------------------------ */
.nav_container {
    position: absolute;
    bottom: 0;
    height: 54px;
    width: 100%;
    background: #0c0c0c;
}
.nav {
    display: inline-block;
}
.nav li {
    display: inline-block;
    line-height: 54px;
    margin-right: 50px;
    position: relative;
}
.nav li:after {
    content: '';
    width: 1px;
    height: 14px;
    background: url(../img/nav_sep.jpg);
    position: absolute;
    top: 50%;
    margin-top: -7px;
    margin-left: 26px;
}
.nav li:last-child {
    margin-right: 0;
}
.nav li:last-child:after {
    content: none;
}
.nav li a {
    color: white;
    opacity: .8;
}
.nav li a img {
   float: left;
   margin-top: 15px;
   padding-right: 8px;
   opacity: .8;
}
.nav li a:hover {
    text-decoration: none;
    opacity: 1;
}
.nav li a:hover img {
    opacity: 1;
}
.header_search {
    float: right;
    width: 158px;
    height: 28px;
    padding-left: 20px;
    padding-right: 5px;
    margin-top: 12px;
    border: none;
    outline: none;
    border-radius: 15px;
    background: url(../img/header_search.png) no-repeat left 8px, #333333;
    color: white;
}

/* Text page
------------------------------------------------------------------------------------ */
.text_page h1 {
    margin: 30px 0 15px;
}
.text_page h2,
.text_page h3 {
    margin-bottom: 15px;
}
.text_page p {
    margin-bottom: 30px;
    line-height: 25px;
}
.text_page p.two_column {
    width: 470px;
    margin-right: 20px;
    float: left;
}
.text_page p.three_column {
    width: 300px;
    margin-right: 20px;
    float: left;
}
.text_page ul.marker {
    margin-bottom: 40px;
}
.text_page ul.marker li {
    line-height: 30px;
    font-weight: normal;
    font-size: 15px;
}
.text_page .contact {
    margin-bottom: 40px;
}
.text_page .contact p {
    margin: 0;
}

/* Events first
------------------------------------------------------------------------------------ */
.headline_wrap {
    background: #337791;
    height: 134px;
}
.years_wrap {
    height: 60px;
}
.headline h1 {
    padding-right: 20px;
    padding-top: 20px;
    color: white;
}
.headline h5 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 12px;
    color: white;
}
.headline h5 span {
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
}
.filter_wrap {
    background: url(../img/strip_bg.png) repeat-x 0;
}
#filter_events li {
    margin-right: 20px;
}
#filter_events li a {
    letter-spacing: 1px;
}
.filter_fixed {
    width: 100%;
    top: 347px;
    position: fixed;
    z-index: 1000;
}
.anchor {
    height: 0;
    position: relative;
    bottom: 80px;
    font-size: 1px;
}
.filter_bg {
    background: url(../img/strip_bg.png) repeat-x 0, #F0F0F0;
}
.filter {
    padding-top: 23px;
    padding-bottom: 23px;
}
.filter li {
    margin-right: 7px;
    display: inline-block;
}
.filter li:last-child,
#filter_events li:last-child {
    margin-right: 0px;
}
.filter li a {
    position: relative;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 12px;
    display: block;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    background: #337791;
    border-radius: 20px;
    color: white;
}
.filter li a.active {
    background: #F0674C;
}
.filter li a.active:after {
    height: 6px;
    width: 11px;
    content: '' ;
    background: url(../img/filter_arrow_bottom.png);
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;

}
.content {
    float: left;
    width: 725px;
}
.content .days {
    margin-top: 22px;
    margin-bottom: 50px;
}
.content h4 {
    padding-top: 4px;
    padding-bottom: 5px;
    width: 138px;
    font-size: 16px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 15px;
}
.content .day ul {
    width: 660px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 15px;
    padding-bottom: 30px;
    background: url(../img/strip_day_bg.png) repeat-y;
}
.content .day ul li {
    font-weight: bold;
    line-height: 22px;
    margin-top: 22px;
    position: relative;
    padding-left: 105px;
    list-style: none;
    color: #333333;
}
.content .day ul li .coffe_clock,
.content .day ul li .other_clock{
    position: absolute;
    left: 0px;
    top: 5px;
    font-size: 15px;
}
.content .day ul li .coffe_clock {
    color: #007992;
}
.content .day ul li .other_clock {
    color: #F0674C;
}
.content .day ul li .coffe_clock:after {
    content: url(../img/coffe_after.png);
    position: absolute;
    top: -50%;
    right: -50px;
}
.content .day ul li .other_clock:after {
    content: url(../img/other_after.png);
    position: absolute;
    top: -3px;
    right: -42px;
}
.content .day ul li:first-child {
    margin-top: 0;
}
.sidebar {
    margin-top: 53px;
    padding-bottom: 30px;
    position: relative;
    float: right;
    width: 255px;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.sidebar .sb_img_top {
    position: absolute;
    top: -54px;
    left: 50%;
    margin-left: -44px;
}
.sidebar h3 {
    padding-top: 27px;
    padding-bottom: 10px;
    background: #E8E8E8;
    text-align: center;
    border-bottom: 1px solid #D6D6D6
}
.sidebar form {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.sidebar form a.btn_main {
    width: 100%;
    display: block;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}
.sidebar form input {
    margin-bottom: 10px;
    height: 34px;
    width: 100%;
}
.sidebar form input[type="submit"] {
    background: url(../img/submit_img.png) no-repeat 0, #F2F2F2;
    margin-bottom: 15px;
}

.speakers_wrap {
    background: #F2F2F2;
}
.speakers_wrap .content {
    margin-top: 40px;
}
.speakers {
    margin-top: 20px;
    margin-left: -20px;
}
.speakers li {
    margin-right: 20px;
    float: left;
    list-style: none;
    width: 204px;
    height: 310px;
    text-align: center;
}
.speakers li:nth-child(3n) {
    margin-right: 0;
}
.speakers li  img {
    display: inline-block;
    border-radius: 100px;
    margin-top: 15px;
}
.speakers li h5 {
    line-height: 25px;
}
.speakers li span {
    line-height: 18px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    font-weight: normal;
    font-size: 12px;
}
.speakers li button {
    display: none;
    margin-top: 10px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background: #337791;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.speakers li:hover {
    background: white;
    box-shadow: 0 0 10px #CACACA;
}
.speakers li:hover button {
    display: inline-block;
}
.terms {
    width: 725px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.terms p {
    line-height: 22px;
    margin-top: 15px;
}
.terms .cost {
    font-size: 15px;
    color: #000;
}
.partners_wrap {
    background: #F2F2F2;
}
.partners {
    width: 725px;
}
.partners img {
    margin-right: 30px;
}
.partners .general_sponsors {
    padding-top: 40px;
}
.partners .info_partners {
    margin-top: 40px;
}
.photo_gallery {
    padding-top: 45px;
    width: 730px;
}
.photo_gallery a {
    display: inline-block;
    float: left;
    margin-right: 21px;
    margin-top: 16px;
}
.photo_gallery a:nth-child(5n+1) {
    margin-right: 0;
}
.photo_gallery a img {
    width: 128px;
    height: 102px;
}

.map_container {
    padding-top: 50px;
    background: #F2F2F2;
    position: relative;
    height: 560px;
}
.map {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.z-index {
    z-index: -1;
}
/* Index
------------------------------------------------------------------------------------ */
.banner_container {
    height: 486px;
    width: 100%;
    background: #004057;
    position: relative;
}
.banner {
    position: relative;
    height: inherit;
}
.banner .banner_bg {
    position: absolute;
    left: -310px;
}
.banner_container .filter_wrap {
    position: absolute;
    width: 100%;
    z-index: 5;
}
.banner_container .filter_wrap .filter li {
    margin-right: 49px;
}
.banner_container .filter_wrap .filter li:last-child {
    margin-right: 0;
}
.banner_info {
    width: 360px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.banner_info h6 {
    font-size: 16px;
    color: white;
}
.banner_info p {
    font-size: 24px;
    line-height: 35px;
    color: white;
}
.banner_info .btn_main {
    margin: 20px 0 60px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    width: 166px;
}

.content_container {
    background: #f1f1f1;
}
.icon {
    float: left;
    margin-right: 10px;
    margin-top: 25px;
}
.main_content h1 {
    padding-top: 25px;
    line-height: 45px;
}
.main_content ul.events {
    margin-top: 25px;
}
.main_content button {
    width: 338px;
    height: 42px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 46px;
}


.delivery {
    margin-bottom: 48px;
}
.delivery h1 {
    padding-top: 25px;
    line-height: 45px;
}
.delivery p {
    font-size: 13px;
    margin: 10px 0 20px;
}
.delivery input {
    width: 256px;
    height: 43px;
    color: black;
    text-indent: 10px;
    margin-right: 9px;
}
.delivery .btn_main {
    height: 43px;
    width: 166px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
}


/* Slider
------------------------------------------------------------------------------------ */
.slider_wrap {
    clear: both;
    height: 260px;
    position: relative;
    padding: 10px 0 70px;
}
.slider_wrap .prev,
.slider_wrap .next {
    background: #c8c8c8;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    border: none;
    outline: none;
    position: absolute;
    margin-top: -70px;
    top: 50%;
    z-index: 50;
}
.slider_wrap .prev {
    left: -115px;
}
.slider_wrap .next {
    right: -115px;
}
.slider_width {
    width: 980px;
    overflow: hidden;
}
.slider {
    margin: auto;
}
.slider img {
    width: 221px;
    height: 179px;
}
.slider ul li {
    height: 258px;
    width: 221px;
    margin-right: 32px;
    background: white;
    border-radius: 2px;
}
.slider ul li p {
    padding: 10px 10px 0;
    font-size: 14px;
    color: #000;
}

/* Search
------------------------------------------------------------------------------------ */
.search_wrap {
    padding-bottom: 40px;
}
.search_wrap .result {
    margin-top: 20px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
}
.search_wrap .events li h6 {
    float: none;
    display: inline-block;
}
.search_wrap .events li,
.search_wrap .events li p {
    display: block;
    width: 100%;
}
.search_wrap .events li {
    border-top: 1px solid #CFCFCF;
    padding-top: 30px;
    margin-bottom: 40px;
}
.search_wrap input {
    background: url(../img/search_icon.png) no-repeat 0;
    text-indent: 38px;
    margin-top: 5px;
    width: 100%;
    height: 38px;
}
.search_wrap button {
    margin: auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 11px;
    border:none;
    outline: none;
    border-radius: 3px;
    text-align: center;
    width: 203px;
    background: #C7C7C7;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'PT Sans Caption', sans-serif;
}

.years_wrap .year p {
    display: inline-block;
    margin-right: 45px;
    line-height: 60px;
}
.years_wrap .year p a {
    padding-bottom: 1px;
    text-decoration: none;
    font-size: 13px;
    color: white;
}
.years_wrap .year p a.active {
    border-bottom: 4px solid #F0674C;
}

/* Search
------------------------------------------------------------------------------------ */
.search_wrap {
    padding-bottom: 40px;
}
.search_wrap .result {
    margin-top: 20px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
}
.search_wrap .events li h6 {
    float: none;
    display: inline-block;
}
.search_wrap .events li,
.search_wrap .events li p {
    display: block;
    width: 100%;
}
.search_wrap .events li {
    border-top: 1px solid #CFCFCF;
    padding-top: 30px;
    margin-bottom: 40px;
}
.search_wrap input {
    background: url(../img/search_icon.png) no-repeat 0;
    text-indent: 38px;
    margin-top: 5px;
    width: 100%;
    height: 38px;
}
.search_wrap button {
    margin: auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 11px;
    border:none;
    outline: none;
    border-radius: 3px;
    text-align: center;
    width: 203px;
    background: #C7C7C7;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'PT Sans Caption', sans-serif;
}

/* Popup
------------------------------------------------------------------------------------ */
#registration .popup-content {
    width: 330px;
}
#registration .popup-content input {
    color: #000;
    font-weight: bold;
}
.popup {
    width:100%;
    min-height:100%;
    background: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 1500;
}
.popup .popup-content {
    width: 370px;
    border-radius: 2px;
    padding-bottom: 30px;
    background: white;
    position: absolute;
    top: 20%;
}
.popup .popup-content .popup_p {
    border-radius: 2px 2px 0 0 ;
    height: 64px;
    font-weight: bold;
    background: #337791;
    line-height: 64px;
    text-indent: 25px;
    font-size: 24px;
    color: white;
}
.popup .popup-content span {
    display: block;
    margin-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 20px;
    color: #555555;
}
.popup .popup-content form {
    position: relative;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.popup .popup-content form .checkbox {
    width: 18px;
    height: 18px;
    float: left;
    border-radius: 20px;
    border: 1px solid #cdcdcd;
    margin-left: 2px;
    margin-right: 5px;
}
.popup .popup-content form .forgot_psw {
    position: absolute;
    right: 40px;
    top: 70px;
    font-size: 13px;
}
.popup .popup-content .details {
    margin-top: 10px;
    margin-bottom: 15px;
}
.popup .popup-content .details:before {
    text-indent: 5px;
    float: left;
    content: url(../img/details_img.png);
    margin-right: 8px;
}
.popup .popup-content .close {
    display: block;
    width: 26px;
    height: 26px;
    background: url(../img/close.png) no-repeat;
    position: absolute;
    top: 20px;
    right: 25px;
}
.popup .popup-content input {
    margin-bottom: 12px;
    width: 100%;
    height: 44px;
    border: 1px solid #C1C1C1;
    border-radius: 4px;
}
.popup .popup-content textarea {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    padding-left: 5px;
    padding-top: 10px;
    border: 1px solid #C1C1C1;
    height: 93px;
    max-height: 93px;
    width: 100%;
    max-width: 100%;
}
.popup .popup-content .btn_main {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 12px;
    height: 44px;
    float: right;
}
.speaker {
    margin-left: 15px;
    margin-top: 35px;
    float: left;
    list-style: none;
    width: 204px;
    height: 310px;
    text-align: center;
}
.popup_text_info {
    margin-left: 15px;
    margin-top: 20px;
    width: 405px;
    float: left;
}
.popup .popup-content .popup_text_info span {
    padding: 0;
}
.speaker img {
    border-radius: 100px;
}
.speaker_wrap .popup-content .speaker span {
    margin-top: 5px;
}
.speaker_wrap .popup-content {
    width: 680px;
}
.speaker_wrap .popup-content .close {
    display: block;
    width: 38px;
    border-radius: 19px;
    height: 38px;
    background: url(../img/speaker_close.jpg);
    position: absolute;
    top: -19px;
    right: -19px;
}

/* Footer
------------------------------------------------------------------------------------ */
.footer_container {
    height: 133px;
    width: 100%;
    background: #0c0c0c;
}
.footer img {
    margin-top: 17px;
}
.footer h4 {
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0;
}
.footer p {
    color: white;
    font-size: 13px;
}
.footer a {
    color: white;
    text-decoration: underline;
}
.footer_logo {
    float: right;
    width: 95px;
    height: 95px;
}
.footer_m {
    margin-top: 45px;
}
